@using BlazorApp6.Models
@inject AvatarManager AvatarManager
@inject SwapManager SwapManager
@using Microsoft.AspNetCore.SignalR
@inject IHubContext<SwapHub> swapHubContext

@if (IsOpen)
{
    <div class="modal-request">
        <div class="modal-content">
            <div class="d-flex align-items-center gap-3 mb-3">
                <img src="@AvatarManager.GetAvatarUrl(student.AvatarName)" alt="Avatar" class="filter-avatar" />
                <div class="username-grade-modal">
                    <h4 class="student-name">@student.FirstName @student.SecName</h4>
                    <p class="student-grade">Клас: @student.Grade</p>
                </div>
            </div>

            @* Списък с предмети *@
            @if (isRequiringHelp)
            {
                <p class="text small mb-2 fw-semibold">Може да помогне с:</p>
                <div class="match-subjects-scroll mb-2">
                    @foreach (var subj in student.CanHelpWith.Where(s => s != SubjectEnum.NotSpecified))
                    {
                        <span class="badge badge-match1">@subj.GetDisplayName()</span>
                    }
                </div>
            }
            else
            {
                <p class="text small mb-2 fw-semibold">Търси помощ по:</p>
                <div class="match-subjects-scroll mb-2">
                    @foreach (var subj in student.NeedsHelpWith.Where(s => s != SubjectEnum.NotSpecified))
                    {
                        <span class="badge badge-match1">@subj.GetDisplayName()</span>
                    }
                </div>
            }

            <hr />

            <div class="filter-row">
                <h5>Избери предмет:</h5>
                <div class="radio-group">
                    @foreach (var subject in ((isRequiringHelp) ? otherStudent.NeedsHelpWith.Intersect(student.CanHelpWith).Where(s => s != SubjectEnum.NotSpecified)
                                    : otherStudent.CanHelpWith.Intersect(student.NeedsHelpWith).Where(s => s != SubjectEnum.NotSpecified)))
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="radio"  name="subjectChoice"
                                   checked="@(SelectedSubject == subject)"
                                   @onchange="() => ChooseSubject(subject)" />
                            <label class="form-check-label">@subject.GetDisplayName()</label>
                        </div>
                    }
                </div>
            </div>


            <div class="modal-buttons-group">
                <button class="btn btn-secondary" @onclick="Cancel">Назад</button>
                <button class="btn btn-primary" disabled="@(!isChosen)" @onclick="SendRequest">Изпрати заявка</button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public EventCallback<SubjectEnum?> OnClose { get; set; }

    [Parameter] public Student student { get; set; }
    [Parameter] public Student otherStudent { get; set; }
    [Parameter] public bool isRequiringHelp { get; set; }

    private SubjectEnum SelectedSubject { get; set; } = SubjectEnum.NotSpecified;
    private bool isChosen => SelectedSubject != SubjectEnum.NotSpecified;

    private void ChooseSubject(SubjectEnum subject)
    {
        SelectedSubject = subject;
    }

    private async Task SendRequest()
    {
        if (isRequiringHelp)
        {
            SwapManager.RequestHelp(otherStudent, student, SelectedSubject, otherStudent);

            Swap swap = SwapManager.FindSwapByStudentsId(otherStudent.Id, student.Id);
            Guid studentId = (swap.RequesterId == swap.Student1Id) ? swap.Student2Id : swap.Student1Id;
            if (swap != null)
            {
                await swapHubContext.Clients.User(studentId.ToString()).SendAsync("NewSwaps");
            }
        }
        else
        {
            SwapManager.OfferHelp(student, otherStudent, SelectedSubject, otherStudent);

            Swap swap = SwapManager.FindSwapByStudentsId(otherStudent.Id, student.Id);
            Guid studentId = (swap.RequesterId == swap.Student1Id) ? swap.Student2Id : swap.Student1Id;
            if (swap != null)
            {
                await swapHubContext.Clients.User(studentId.ToString()).SendAsync("NewSwaps");
            }
        }
        SelectedSubject = SubjectEnum.NotSpecified;

        await OnClose.InvokeAsync(SelectedSubject);
    }

    private void Cancel()
    {
        OnClose.InvokeAsync(null);
        SelectedSubject = SubjectEnum.NotSpecified;
    }
}

<style>
    .close {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 24px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
    }
</style>