@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthStateProvider
@inject StudentManager StudentManager
@implements IDisposable

<div class="app-layout">
@if (IsHistorySwapsMode)
{
    <div class="swaps-header-wrapper">
        <div class="swaps-logo">
            EduSwaps
        </div>
    </div>

    <CollapsedSidebar CurrentStudentId="@currentStudent.Id" />
    <HistorySwapsSidebar CurrentStudentId="@CurrentStudentId" />
}
else if (IsSwapsMode)
{
    <div class="swaps-header-wrapper">
        <div class="swaps-logo">
            EduSwaps
        </div>
    </div>

    <CollapsedSidebar CurrentStudentId="@currentStudent.Id" />
    <SwapsSidebar CurrentStudentId="@CurrentStudentId" />
}
else
{
    <NavMenu CurrentStudentId="@currentStudent.Id" />
}

    <main class="main-content">
        @Body
    </main>
</div>

@code {
    private bool IsSwapsMode;
    private bool IsHistorySwapsMode;
    private Guid CurrentStudentId;
    private Student currentStudent;

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = state.User;

        if (user.Identity?.IsAuthenticated ?? false)
        {
            var username = user.Identity.Name;
            currentStudent = StudentManager.FindStudent(s => s.Username == username);
            CurrentStudentId = currentStudent?.Id ?? Guid.Empty;
        }

        CheckRoute();
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        CheckRoute();
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }


    private void CheckRoute()
    {
        IsSwapsMode = (NavigationManager.Uri.Contains("/my-swaps") || NavigationManager.Uri.Contains("/chat") || NavigationManager.Uri.Contains("/ai-chat"));
        IsHistorySwapsMode = (NavigationManager.Uri.Contains("/chat-history"));
    }
}
