@inject SwapManager SwapManager
@inject StudentManager StudentManager
@inject ChatManager ChatManager
@inject NavigationManager NavigationManager
@inject AvatarManager AvatarManager
@rendermode InteractiveServer
@using BlazorApp6.Models

<div class="swaps-sidebar">
    <h6>Текущи чатове:</h6>

    <div class="swap-chat-item ai-chat" @onclick="OpenAiChat">
        <i class="bi bi-stars"></i>
        <div class="swap-chat-info">
            <strong>ИИ помощник</strong>
        </div>
    </div>

    @foreach (var student in OtherStudents)
    {
        Swap swap = SwapManager.FindSwapByStudentsId(student.Id, CurrentStudentId);
        var unread = ChatManager.GetUnreadCount(swap.Id, CurrentStudentId);

        <div class="swap-chat-item" @onclick="() => OpenChat(student)">
            <img src="@AvatarManager.GetAvatarUrl(student.AvatarName)" alt="Avatar" class="sidebar-avatar" />
            <div class="swap-chat-info">
                <strong>@student.FirstName @((!string.IsNullOrEmpty(student.SecName)) ? student.SecName[0].ToString() : "")</strong>

                <div class="last-message-row">
                    <span class="last-message">@LastMessagePreview(swap.Id)</span>
                    @if (unread > 0)
                    {
                        <span class="unread-count">@unread</span>
                    }
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public Guid CurrentStudentId { get; set; }

    private List<Swap> Swaps = new();
    private List<Student> OtherStudents = new();
    private string LastMessagePreview(Guid swapId)
    {
        List<Message> messages = ChatManager.GetMessagesFromDb(swapId);
        var lastMessage = messages.OrderByDescending(m => m.Timestamp).FirstOrDefault();
        if (lastMessage != null)
        {
            var preview = lastMessage.Content.Length > 29 ? lastMessage.Content.Substring(0, 29) + "..." : lastMessage.Content;
            return preview;
        }
        return "";
    }

    protected override void OnInitialized()
    {
        Swaps = SwapManager.FindSwapsByStudentId(CurrentStudentId);

        foreach (var swap in Swaps)
        {
            var other = StudentManager.FindStudent(s => s.Id == (swap.Student1Id == CurrentStudentId ? swap.Student2Id : swap.Student1Id));
            if (other != null && (swap.Status == SwapStatus.Confirmed || swap.Status == SwapStatus.PendingCompleted || swap.Status == SwapStatus.CompletedNotRated)) OtherStudents.Add(other);
        }
    }

    private void OpenChat(Student student)
    {
        var swap = SwapManager.FindSwapByStudentsId(student.Id, CurrentStudentId);
        if (swap != null) NavigationManager.NavigateTo($"/chat/{swap.Id}");
    }

    private void OpenAiChat()
    {
        NavigationManager.NavigateTo($"/ai-chat");
    }
}
