@page "/my-swaps" // страница за преглед на текущи чатове
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Components.Forms
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthStateProvider
@inject StudentManager StudentManager
@inject AvatarManager AvatarManager
@inject SwapManager SwapManager
@rendermode InteractiveServer
@using SwapModel = BlazorApp6.Models.Swap

<div class="main-chat-page">
    <div class="chat-page no-info">
    @if (currentStudent == null)
    {
        <div class="myswaps-empty">
            <p>Моля, влезте в профила си</p>
        </div>
    }
    else
    {
        <div class="myswaps-container">

            <div class="myswaps-header px-4">
                <div class="myswaps-toprow top-row">
                    <div class="myswaps-title">
                        <h2 class="filter-title">Текущи чатове</h2>
                    </div>
                </div>
            </div>

            <!-- Текущите ми свапове -->
            <div class="tab-content mb-3 myswaps-content">
                <section class="myswaps-section" aria-labelledby="pairs-heading">
                    @if (pairs.Count == 0)
                    {
                        <div class="myswaps-empty-state">Нямате текущи свапове. <span style="text-decoration-line: underline; text-decoration-thickness: 1px;" @onclick="@(() => Navigation.NavigateTo("/students-filter"))">Натисни тук, за да намериш ученици за взаимопомощ.</span></div>
                    }
                    else
                    {
                        <p class="text-found-students">Активните ви свапове: <strong>@pairs.Count</strong></p>

                        <div class="students-container">
                            @foreach (SwapModel swap in pairs)
                            {
                                var student = StudentManager.FindStudent(s => s.Id == ((swap.Student1Id == currentStudent.Id) ? swap.Student2Id : swap.Student1Id));
                                bool currentStHelps = swap.Student2Id == currentStudent.Id;
                                @if (student == null) continue;

                                <div class="student-card2">
                                    @* Профилна, име и дата на начало *@
                                    <div class="student-header">
                                        <img src="@AvatarManager.GetAvatarUrl(student.AvatarName)" alt="Avatar" class="filter-avatar" />
                                        <div class="student-info">
                                            <h5 class="student-name">@student.FirstName @student.SecName</h5>
                                            <p class="student-grade">Активен от: @(swap.DateConfirmed?.ToString("dd MMMM yyyy HH:mm"))</p>
                                        </div>
                                    </div>

                                    @* Предмет *@
                                    <div class="myswaps-card-body">
                                        <div class="d-flex align-items-center flex-nowrap">
                                            @if (currentStHelps)
                                            {
                                                <span class="text small fw-semibold me-2">Помагаш по:</span>
                                            }
                                            else
                                            {
                                                <span class="text small fw-semibold me-2">Помага ти по:</span>
                                            }
                                            <span class="badge badge-match1">@swap.SubjectForHelp.GetDisplayName()</span>
                                        </div>

                                        @* Бутони *@
                                        <div class="myswaps-actions">
                                            <button class="myswaps-btn-primary" @onclick="() => GoToSwap(swap.Id)">Отвори чата</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </section>
            </div>
        </div>
    }
    </div>
</div>

@code {
    private Student? currentStudent;
    private string selectedTab = "pairs";

    private List<SwapModel> pairs = new();
    private List<SwapModel> incomingSwaps = new();
    private List<SwapModel> outgoingSwaps = new();

    protected override async Task OnParametersSetAsync()
    {
        var state = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = state.User;

        if (!user.Identity.IsAuthenticated)
        {
            currentStudent = null;
            return;
        }

        var username = user.Identity.Name;

        currentStudent = StudentManager.FindStudent(s => s.Username == username);

        if (currentStudent == null)
        {
            return;
        }

        if (currentStudent == null) return;

        LoadData();
    }

    private void LoadData()
    {
        List<SwapModel> swaps = SwapManager.FindSwapsByStudentId(currentStudent.Id);

        pairs = swaps.Where(m => m.Status == SwapStatus.Confirmed || m.Status == SwapStatus.CompletedNotRated || m.Status == SwapStatus.PendingCompleted).ToList();
        incomingSwaps = swaps.Where(m => m.RequesterId != currentStudent.Id && m.Status == SwapStatus.Pending).ToList();
        outgoingSwaps = swaps.Where(m => m.RequesterId == currentStudent.Id && m.Status == SwapStatus.Pending).ToList();
    }

    private void ConfirmSwap(SwapModel swap)
    {
        SwapManager.ConfirmSwap(swap);
        LoadData();
    }

    private void RejectSwap(SwapModel swap)
    {
        SwapManager.RejectSwap(swap);
        LoadData();
    }

    private void CancelSwapRequest(SwapModel swap)
    {
        SwapManager.CancelMyRequest(swap);
        LoadData();
    }

    private void CompleteSwap(SwapModel swap)
    {
        SwapManager.CompleteSwap(swap);
        LoadData();
    }

    private void GoToSwap(Guid Id)
    {
        Navigation.NavigateTo($"/chat/{Id}");
    }
    private void ViewProfile(Student student)
    {
        Navigation.NavigateTo($"/other-profile/{student.Id}");
    }
}
