@page "/chat/{SwapId:guid}" // страница за чат
@implements IAsyncDisposable
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.SignalR.Client
@using SwapModel = BlazorApp6.Models.Swap
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthStateProvider
@inject StudentManager StudentManager
@inject AvatarManager AvatarManager
@inject SwapManager SwapManager
@inject ChatManager ChatManager
@inject OnlineUsersService OnlineUsers
@inject IJSRuntime JS
@rendermode InteractiveServer

@* <div class="main-page d-flex" @onclick="HideContextMenu"> *@
<div class="main-chat-page" @onclick="HideContextMenu">

    <div class="chat-topbar">
        <div class="chat-topbar-left @(isSidebarHidden ? "no-info" : "with-info")">
            <img src="@AvatarManager.GetAvatarUrl(otherStudent.AvatarName)"
                 class="chat-topbar-avatar" />

            <div class="chat-topbar-user">
                <div class="chat-topbar-name">
                    @otherStudent.FirstName @otherStudent.SecName
                </div>

                <div class="chat-topbar-sub">
                    <span class="chat-status @(OnlineUsers.IsOnline(otherStudent.Id) ? "online" : "offline")">
                        @(OnlineUsers.IsOnline(otherStudent.Id) ? "Онлайн" : "Оффлайн")
                    </span>

                    <span class="dot">•</span>

                    <span class="chat-subject">
                        @swap.SubjectForHelp.GetDisplayName()
                    </span>
                </div>
            </div>
        </div>

        <div class="chat-topbar-right @(isSidebarHidden ? "no-info" : "with-info")">
            <span class="swap-status status-@swap.Status.ToString().ToLower()">
                @swapStatusName
            </span>
        </div>
    </div>

    <div class="chat-page @(isSidebarHidden ? "no-info" : "with-info")">
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <p class="text-danger">@errorMessage</p>
        }
        else
        {
            <div class="chat-info-sidebar @(isSidebarHidden ? "hidden" : "")">

                <button class="close-sidebar-btn" @onclick="ToggleSidebar"><i class="bi bi-x-lg"></i></button>

                <div class="chat-info-profile">
                    <img src="@AvatarManager.GetAvatarUrl(otherStudent.AvatarName)" alt="Avatar" class="chat-info-profile-avatar" />
                    <h4>@otherStudent.FirstName @otherStudent.SecName</h4>
                    <span class="user-status">
                        @(OnlineUsers.IsOnline(otherStudent.Id) ? "Онлайн" : "Оффлайн")
                    </span>

                </div>

                <div class="chat-info-actions">
                    <div class="chat-info-action">
                        <i class="bi bi-person"></i>
                        <span @onclick="() => ViewProfile(otherStudent)">Виж профила</span>
                    </div>

                    @* <div class="chat-info-action">
                        <i class="bi bi-bell-slash"></i>
                        <span>Изключи известия</span> ///////////////////
                    </div> *@

                    <div class="chat-info-action">
                        <i class="bi bi-person"></i>
                        <span @onclick="ProposeCompletion">Предложи завършване</span>
                    </div>

                    @* <div class="chat-info-action">
                        <i class="bi bi-x-circle"></i>
                        <span>Изтрий чата</span> /////////////////////
                    </div> *@

                    <div class="chat-info-action" @onclick="() => ReportPartner(otherStudent)">
                        <i class="bi bi-x-circle"></i>
                        <span>Репортни</span> //////////////////////
                    </div>
                </div>

                <div class="chat-info-section">
                    @(currentStudent.Id == swap.Student2Id ? "Помагаш по" : $"{otherStudent.FirstName} ти помага по"): @swap.SubjectForHelp.GetDisplayName().ToLower()
                    <br/>
                    Активен от: @swap.DateConfirmed
                    <br />
                    Статус на свапа: @swapStatusName
                </div>
            </div>

            @if (swap.Status == SwapStatus.Confirmed || swap.Status == SwapStatus.PendingCompleted)
            {
                <div class="chat-container d-flex flex-column flex-grow-1">
                    <div class="chat-window flex-grow-1 overflow-auto" @ref="chatWindowRef">
                        @code {
                            DateTime? lastDate = null;
                            MessageForChat? previousMessage = null;
                        }
                        @foreach (var m in messagesForChat)
                        {
                            bool showAvatar = previousMessage == null || previousMessage.SenderId != m.SenderId || previousMessage.Timestamp.Date != m.Timestamp.Date;
                            DateTime date = m.Timestamp.Date;
                            if (lastDate == null || lastDate.Value != date)
                            {
                                <div class="chat-date-separator">
                                    @date.ToString("dd MMMM yyyy")
                                </div>
                                lastDate = date;
                            }
                    
                            @if (m.SenderName == $"{currentStudent.FirstName} {currentStudent.SecName}")
                            {
                                @if (editingMessage != null && editingMessage.Id == m.Id)
                                {
                                    <div class="my-message editing">
                                        <InputText @bind-Value="editingContent" class="edit-input" />
                                        <button class="btn btn-sm btn-success" @onclick="SaveEditedMessage">Запази</button>
                                        <button class="btn btn-sm btn-secondary" @onclick="CancelEdit">Откажи</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="my-message" @oncontextmenu:preventDefault="true" @oncontextmenu="@(e => ShowContextMenu(e, m))">
                                        @((MarkupString)m.Content)
                                        @if (m.IsEdited)
                                        {
                                            <sub><small><time>редактирано @m.Timestamp.ToString("HH:mm")</time></small></sub>
                                        }
                                        else
                                        {
                                            <sub><small><time>@m.Timestamp.ToLocalTime().ToString("HH:mm")</time></small></sub>
                                        }
                                    </div>
                                }

                            }
                            else if (m.SenderName == $"{otherStudent.FirstName} {otherStudent.SecName}")
                            {
                                <div class="other-message-sender">
                                    @if (showAvatar)
                                    {
                                        <img src="@AvatarManager.GetAvatarUrl(otherStudent.AvatarName)" class="chat-avatar" />
                                    }
                                    else
                                    {
                                        <div class="chat-avatar-placeholder"></div>
                                    }
                                    <div class="other-message">
                                        @((MarkupString)m.Content)
                                        @if (m.IsEdited)
                                        {
                                            <sub><small><time>редактирано @m.Timestamp.ToString("HH:mm")</time></small></sub>
                                        }
                                        else
                                        {
                                            <sub><small><time>@m.Timestamp.ToLocalTime().ToString("HH:mm")</time></small></sub>
                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="system-message">
                                    <i>@m.Content</i>
                                    <small><time>@m.Timestamp.ToLocalTime().ToString("HH:mm")</time></small>
                                </div>
                            }
                            previousMessage = m;
                        }

                        @if (swap.Status == SwapStatus.PendingCompleted && swap.CompletionProposedByStudentId.HasValue)
                        {
                            <div class="swap-notification">
                                @if (swap.CompletionProposedByStudentId.Value != currentStudent.Id)
                                {
                                    <span>@otherStudent.FirstName е предложил да завършите свапа.</span>
                                    <div class="d-flex gap-2">
                                        <button class="btn btn-danger btn-sm" @onclick="AcceptCompletion">Завърши</button>
                                        <button class="btn btn-secondary btn-sm" @onclick="RejectCompletion">Продължи</button>
                                    </div>
                                }
                                else
                                {
                                    <span>Вие предложихте да завършите свапа. Очаквайте подтверждението от @otherStudent.FirstName.</span>
                                    <button class="btn btn-warning btn-sm" @onclick="CancelProposeCompletion">Отмяна</button>
                                }
                            </div>
                        }
                        else if (swap.Status == SwapStatus.CompletedNotRated)
                        {
                            if (isStudentToRate)
                            {
                                <p>Очаква се @otherStudent.FirstName да оцени Вашата помощ.</p>
                            }
                            else
                            {
                                <p>Моля, оставете отзив за помощта на @otherStudent.FirstName @otherStudent.SecName.</p>
                                    
                                <div class="stars-container mb-3">
                                    <span class="star @(SelectedRating >= 1 ? "selected" : "")" @onclick="() => ChooseRating(1)">&#9733;</span>
                                    <span class="star @(SelectedRating >= 2 ? "selected" : "")" @onclick="() => ChooseRating(2)">&#9733;</span>
                                    <span class="star @(SelectedRating >= 3 ? "selected" : "")" @onclick="() => ChooseRating(3)">&#9733;</span>
                                    <span class="star @(SelectedRating >= 4 ? "selected" : "")" @onclick="() => ChooseRating(4)">&#9733;</span>
                                    <span class="star @(SelectedRating >= 5 ? "selected" : "")" @onclick="() => ChooseRating(5)">&#9733;</span>
                                </div>

                                <InputText @bind-Value="ratingComment" placeholder="Оставете мнение или коментар..." class="" />

                                <div class="modal-actions mt-3 d-flex gap-2">
                                <button class="btn btn-primary" disabled="@(SelectedRating == null && (string.IsNullOrEmpty(ratingComment) || string.IsNullOrWhiteSpace(ratingComment)))"
                                    @onclick="RateStudentsHelp">Изпрати</button>
                                </div>
                                    
                            }
                        }
                        else if (swap.Status == SwapStatus.Completed)
                        {
                            <p>Този свап е завършен.</p>
                        }

                        <div class="input-bar @(isSidebarHidden ? "no-info" : "with-info") d-flex align-items-center">
                            <button class="btn-emoji" @onclick="ToggleEmojiPanel">😀</button>
                            <label for="fileInput" class="btn-file">
                                <i class="bi bi-paperclip"></i>
                            </label>
                            <InputFile id="fileInput" OnChange="OnInputFileSelected" style="display:none;" />
                            <InputText @bind-Value="newMessage" placeholder="Напиши съобщение..."/>
                            <button class="btn-send" disabled="@string.IsNullOrWhiteSpace(newMessage)" @onclick="SendMessage"><i class="bi bi-send"></i></button>
                        </div>
                    </div>
                </div>
            }

            @if (contextMenuVisible)
            {
                <div class="context-menu" style="top:@contextMenuYpx; left:@contextMenuXpx; position:absolute; z-index:1000;">
                    <button class="btn btn-sm btn-danger" @onclick="DeleteMessage">Изтрий съобщение</button>
                    <button class="btn btn-secondary" @onclick="EditMessage">Редактирай</button>
                </div>
            }
        }
    </div>
</div>

@if (isSidebarHidden)
{
    <button class="open-sidebar-btn" @onclick="ToggleSidebar">
        <i class="bi bi-info-circle-fill"></i>
    </button>
}


@code {
    [Parameter] public Guid swapId { get; set; }
    private SwapModel? swap;
    private Student? currentStudent;
    private Student? otherStudent;
    private HubConnection? hubConnection;

    private List<Message> messages = new();
    private List<MessageForChat> messagesForChat = new();
    private string newMessage = string.Empty;

    private bool contextMenuVisible = false;
    private string contextMenuXpx, contextMenuYpx;
    private MessageForChat? selectedMessage;

    private string swapStatusName => swap.Status switch
    {
        SwapStatus.Pending => "Очаква потвърждение",
        SwapStatus.Confirmed => "Активен",
        SwapStatus.PendingCompleted => "Предложено завършване",
        SwapStatus.CompletedNotRated => "Завършен - чака оценка",
        SwapStatus.Completed => "Завършен",
        _ => "Неизвестен статус"
    };

    private bool isStudentToRate;
    private int? SelectedRating { get; set; }
    private string ratingComment = "";

    private string? errorMessage;

    private MessageForChat? editingMessage = null;
    private string editingContent = string.Empty;

    private ElementReference chatWindowRef;
    private ElementReference editingInputRef;
    private bool isSidebarHidden = false;

    protected override async Task OnParametersSetAsync()
    {
        swap = SwapManager.FindSwapById(swapId);
        if (swap == null) { errorMessage = "Свапът не е намерен."; return; }

        var state = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = state.User;

        if (!user.Identity.IsAuthenticated)
        {
            currentStudent = null;
            return;
        }

        var username = user.Identity.Name;

        currentStudent = StudentManager.FindStudent(s => s.Username == username);

        isStudentToRate = swap.Student2Id == currentStudent.Id;

        if (currentStudent == null)
        {
            errorMessage = "Профилът не е намерен.";
            return;
        }
        if (currentStudent == null) { errorMessage = "Моля, влезте в профила си."; return; }

        otherStudent = swap.Student1Id == currentStudent.Id
            ? StudentManager.FindStudent(s => s.Id == swap.Student2Id)
            : StudentManager.FindStudent(s => s.Id == swap.Student1Id);
        if (otherStudent == null) { errorMessage = "Другият ученик не е намерен."; return; }

        messages = ChatManager.GetMessagesFromDb(swapId);
        messagesForChat = messages.Select(m => new MessageForChat(
        m.Id,
        m.SenderId,
        m.SenderId == currentStudent.Id
            ? $"{currentStudent.FirstName} {currentStudent.SecName}"
            : $"{otherStudent.FirstName} {otherStudent.SecName}",
        m.Content,
        m.Timestamp,
        m.IsRead,
        m.IsEdited)).ToList();


        if (hubConnection != null) return;

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<string>("UserJoined", (username) =>
        {
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<Guid, Guid, string, string, DateTime>("ReceiveMessage", async (messageid, senderId, username, message, time) =>
        {
            messagesForChat.Add(new MessageForChat(messageid, senderId, username, message, time, senderId == currentStudent.Id, false));
            await InvokeAsync(StateHasChanged);
            await ScrollToBottomAsync();
        });

        try
        {
            await hubConnection.StartAsync();
            await hubConnection.SendAsync("JoinChat",
                new UserConnection(swapId, new StudentToConnect(currentStudent.Id, currentStudent.FirstName, currentStudent.SecName)));
        }
        catch (Exception ex)
        {
            errorMessage = "Не успяхме да се свържем с чата: " + ex.Message;
        }

        if (hubConnection != null)
        {
            await hubConnection.SendAsync("MarkAsRead",
                new UserConnection(swapId, new StudentToConnect(currentStudent.Id, currentStudent.FirstName, currentStudent.SecName)));
        }


        hubConnection.On<Guid>("DeleteMessage", (messageId) =>
        {
            var msg = messagesForChat.FirstOrDefault(m => m.Id == messageId);
            if (msg != null)
            {
                messagesForChat.Remove(msg);
                InvokeAsync(StateHasChanged);
            }
        });

        hubConnection.On<Guid, string>("EditMessage", (messageId, newContent) =>
        {
            var msg = messagesForChat.FirstOrDefault(m => m.Id == messageId);
            if (msg != null)
            {
                msg.Content = newContent;
                msg.IsEdited = true;
                InvokeAsync(StateHasChanged);
            }
        });


        hubConnection.On<Guid>("NewUnread", async swapId =>
        {
            messages = ChatManager.GetMessagesFromDb(swapId);
            messagesForChat = messages.Select(m => new MessageForChat(
                m.Id,
                m.SenderId,
                m.SenderId == currentStudent.Id
                    ? $"{currentStudent.FirstName} {currentStudent.SecName}"
                    : $"{otherStudent.FirstName} {otherStudent.SecName}",
                m.Content,
                m.Timestamp,
                m.IsRead,
                m.IsEdited)).ToList();

            await InvokeAsync(StateHasChanged);
        });

        hubConnection.On<SwapModel>("SwapUpdated", updatedSwap =>
        {
            swap = updatedSwap;
            isStudentToRate = currentStudent.Id == swap.Student2Id;
            InvokeAsync(StateHasChanged);
        });


        ChatManager.MarkMessagesAsRead(swapId, currentStudent.Id);
    }

    private bool _firstRender = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _firstRender = false;
            if (messagesForChat.Any())
            {
                await ScrollToBottomAsync();
            }
        }
    }


    private async Task SendMessage()
    {
        if (string.IsNullOrWhiteSpace(newMessage) || hubConnection == null) return;

        var message = new MessageToSend(Guid.NewGuid(), newMessage, DateTime.UtcNow);

        await hubConnection.SendAsync("SendMessage",
            new UserConnection(swapId, new StudentToConnect(currentStudent.Id, currentStudent.FirstName, currentStudent.SecName)),
            message);

        newMessage = string.Empty;
    }

    private void ToggleEmojiPanel() { /* вставка эмодзи */ }

    private async Task OnInputFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file == null) return;

        using var stream = file.OpenReadStream(10 * 1024 * 1024);
        using var ms = new MemoryStream();
        await stream.CopyToAsync(ms);
        byte[] fileBytes = ms.ToArray();

        await hubConnection.SendAsync("SendFile",
    new UserConnection(swapId, new StudentToConnect(currentStudent.Id, currentStudent.FirstName, currentStudent.SecName)),
    file.Name,
    fileBytes);

    }

    private void ShowContextMenu(MouseEventArgs e, MessageForChat message)
    {
        selectedMessage = message;
        contextMenuXpx = $"{e.ClientX}px";
        contextMenuYpx = $"{e.ClientY}px";
        contextMenuVisible = true;
    }

    private async Task DeleteMessage()
    {
        if (hubConnection == null) return;
        if (selectedMessage == null) return;
        if (currentStudent.Id != selectedMessage.SenderId) return;

        await hubConnection.SendAsync("DeleteMessage",
                new UserConnection(swapId, new StudentToConnect(currentStudent.Id, currentStudent.FirstName, currentStudent.SecName)),
                selectedMessage.Id);

        contextMenuVisible = false;
        selectedMessage = null;
    }

    private async Task EditMessage()
    {
        if (hubConnection == null) return;
        if (selectedMessage == null) return;
        if (currentStudent.Id != selectedMessage.SenderId) return;

        editingMessage = selectedMessage;
        editingContent = selectedMessage.Content;

        contextMenuVisible = false;
        selectedMessage = null;

        await Task.Delay(50);
        await editingInputRef.FocusAsync();
    }

    private async Task SaveEditedMessage()
    {
        if (editingMessage == null || hubConnection == null) return;

        await hubConnection.SendAsync("EditMessage",
            new UserConnection(swapId, new StudentToConnect(currentStudent.Id, currentStudent.FirstName, currentStudent.SecName)),
            editingMessage.Id,
            editingContent);

        editingMessage = null;
        editingContent = string.Empty;
    }

    private void CancelEdit()
    {
        editingMessage = null;
        editingContent = string.Empty;
    }


    private void HideContextMenu()
    {
        contextMenuVisible = false;
        selectedMessage = null;
    }


    private async Task ScrollToBottomAsync()
    {
        await JS.InvokeVoidAsync("blazorScrollToBottom", chatWindowRef);
    }


    private async Task ProposeCompletion()
    {
        await hubConnection.SendAsync("ProposeCompletion", swap.Id, currentStudent.Id);
    }

    private async Task CancelProposeCompletion()
    {
        await hubConnection.SendAsync("RejectCompletion", swap.Id, currentStudent.Id);
    }

    private async Task AcceptCompletion()
    {
        await hubConnection.SendAsync("AcceptCompletion", swap.Id, currentStudent.Id);
    }

    private async Task RejectCompletion()
    {
        await hubConnection.SendAsync("RejectCompletion", swap.Id, currentStudent.Id);
    }


    private void ChooseRating(int rating) => SelectedRating = rating;

    private async Task RateStudentsHelp()
    {
        if (SelectedRating == null) return;

        otherStudent.HelpGivenCount++;
        otherStudent.HelpRatings.Add(SelectedRating.Value);
        otherStudent.Coins++;
        StudentManager.UpdateStudent(otherStudent);

        currentStudent.Coins--;
        StudentManager.UpdateStudent(currentStudent);

        SwapManager.CompleteSwap(swap);

        await hubConnection.SendAsync("AcceptCompletion", swap.Id, currentStudent.Id);

        NavigationManager.NavigateTo("/my-swaps");
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null && currentStudent != null)
        {
            await hubConnection.SendAsync("LeaveChat",
                new UserConnection(swapId, new StudentToConnect(currentStudent.Id, currentStudent.FirstName, currentStudent.SecName)));
            await hubConnection.DisposeAsync();
        }
    }

    private void ToggleSidebar()
    {
        isSidebarHidden = !isSidebarHidden;
    }

    private void ViewProfile(Student student)
    {
        NavigationManager.NavigateTo($"/other-profile/{student.Id}");
    }

    private async Task ReportPartner(Student studentToReport) { /* TODO */ }
}
