@page "/students-filter" // страница за филтриране на ученици
@inject AppState AppState
@inject NavigationManager Navigation
@inject StudentManager StudentManager
@inject AvatarManager AvatarManager
@inject SwapManager SwapManager
@rendermode InteractiveServer
@using SwapModel = BlazorApp6.Models.Swap

<h3>Филтър</h3>

@if (currentStudent == null)
{
    <p>Моля, влезте в профила си</p>
}
else
{
    @* Филтри *@

    @* Клас *@

    <div class="filter-all-container">
    <fieldset class="filter-section-grade">
        <legend class="filter-legend">Клас:</legend>
        <div class="checkbox-group">
            @foreach (var grade in allGrades.OrderBy(g => g))
            {
                <label class="checkbox-item">
                    <input type="checkbox"
                           checked=@selectedGrades.Contains(grade)
                           @onchange="(ChangeEventArgs e) => ToggleGrade(grade, ValueToBool(e.Value))" />
                    @grade
                </label>
            }
        </div>
    </fieldset>

        @* Предмети *@
        <div class="filter-subject-container">
            <fieldset class="filter-section">
                <legend class="filter-legend">Може да помогне с:</legend>
                <div class="checkbox-group">
                    @foreach (var subject in allSubjects)
                    {
                        <label class="checkbox-item">
                            <input type="checkbox"
                                   checked="@selectedCanHelpWith.Contains(subject)"
                                   @onchange="(ChangeEventArgs e) => ToggleSubject(subject, ValueToBool(e.Value), selectedCanHelpWith)"
                                   class="hidden-checkbox" />
                            <span class="badge @(selectedCanHelpWith.Contains(subject) ? "badge-filter-active" : "badge-filter-nonactive")">
                                @subject.GetDisplayName()
                            </span>
                        </label>
                    }
                </div>
            </fieldset>

            <fieldset class="filter-section">
                <legend class="filter-legend">Търси помощ по:</legend>
                <div class="checkbox-group">
                    @foreach (var subject in allSubjects)
                    {
                        <label class="checkbox-item">
                            <input type="checkbox"
                                   checked="@selectedNeedsHelpWith.Contains(subject)"
                                   @onchange="(ChangeEventArgs e) => ToggleSubject(subject, ValueToBool(e.Value), selectedNeedsHelpWith)"
                                   class="hidden-checkbox" />
                            <span class="badge @(selectedNeedsHelpWith.Contains(subject) ? "badge-filter-active" : "badge-filter-nonactive")">
                                @subject.GetDisplayName()
                            </span>
                        </label>
                    }
                </div>
            </fieldset>
        </div>

    </div>

    <div class="mt-auto sf-btn-row-noflex">
        <button class="btn-filter-primary" @onclick="AutoFilter">Автоматичен избор</button>
        <button class="btn-filter-secondary" @onclick="ResetFilters">Махни филтрите</button>
    </div>

    <hr />

    @* Списък с ученици *@
    @if (filteredStudents.Count == 0)
    {
        <div class="text-found-students"> 
            <p>Няма намерени ученици.</p>
        </div>
    }
    else
    {
        <div class="text-found-students">
            <p>Намерени ученици: @filteredStudents.Count</p>
        </div>
        <div class="students-container">
            @foreach (var student in filteredStudentsCompatib)
            {
                SwapModel? swap = SwapManager.FindSwapByStudentsId(student.student.Id, currentStudent.Id);

                bool isAlreadyRequestedByMe = swap?.Status == SwapStatus.Pending && swap.RequesterId == currentStudent.Id;
                bool isAlreadyRequestedByOther = swap?.Status == SwapStatus.Pending && swap.RequesterId == student.student.Id;
                bool isAlreadySwapped = swap?.Status == SwapStatus.Confirmed || swap?.Status == SwapStatus.PendingCompleted || swap?.Status == SwapStatus.CompletedNotRated;

                bool canRequestHelp = student.student.CanHelpWith?.Where(s => s != SubjectEnum.NotSpecified).Intersect(currentStudent.NeedsHelpWith).ToHashSet().Count > 0;
                bool canOfferHelp = student.student.NeedsHelpWith?.Where(s => s != SubjectEnum.NotSpecified).Intersect(currentStudent.CanHelpWith).ToHashSet().Count > 0;

                int swapRequestCount = SwapManager.FindSwapsByStudentId(currentStudent.Id).Where(s => s.Status == SwapStatus.Pending).Count();
                int swapActiveCount = SwapManager.FindSwapsByStudentId(currentStudent.Id).Where(s => s.Status == SwapStatus.Confirmed).Count();

                int otherSwapRequestCount = SwapManager.FindSwapsByStudentId(student.student.Id).Where(s => s.Status == SwapStatus.Pending).Count();
                int otherSwapActiveCount = SwapManager.FindSwapsByStudentId(student.student.Id).Where(s => s.Status == SwapStatus.Confirmed).Count();

                <div class="student-card">
                    @* Профилна, име и клас *@
                    <div class="student-header">
                        <img src="@AvatarManager.GetAvatarUrl(student.student.AvatarName)" alt="Avatar" class="filter-avatar" />
                        <div class="student-info">
                            <h4 class="student-name">@student.student.FirstName @student.student.SecName</h4>
                            <p class="student-grade">Клас: @student.student.Grade</p>
                        </div>
                    </div>

                    @* Предмети *@
                    <div class="student-subjects">
                        <p class="text-label-help">Може да помогне с:</p>
                        <div class="subjects-scroll">
                            @foreach (var subj in student.student.CanHelpWith.Where(s => s != SubjectEnum.NotSpecified))
                            {
                                var isMatch = selectedCanHelpWith.Contains(subj);
                                <span class="badge @(isMatch ? "badge-match1" : "badge-nonmatch")">@subj.GetDisplayName()</span>
                            }
                        </div>

                        <p class="text-label-help">Търси помощ по:</p>
                        <div class="subjects-scroll">
                            @foreach (var subj in student.student.NeedsHelpWith.Where(s => s != SubjectEnum.NotSpecified))
                            {
                                var isMatch = selectedNeedsHelpWith.Contains(subj);
                                <span class="badge @(isMatch ? "badge-match1" : "badge-nonmatch")">@subj.GetDisplayName()</span>
                            }
                        </div>
                    </div>

                    @* Бутони *@
                    <div class="mt-auto sf-btn-row">
                        @if (student.student.Grade == currentStudent?.Grade)
                        {
                            @if (!isAlreadyRequestedByMe && !isAlreadyRequestedByOther && !isAlreadySwapped)
                            {
                                <button class="btn-primary" disabled="@(!canRequestHelp || (swapRequestCount > 10 || swapActiveCount > 3) || (otherSwapRequestCount > 10 || otherSwapActiveCount > 3))" @onclick="() => OpenModal(student.student, true)"> Помоли за помощ</button>
                                <button class="btn-primary" disabled="@(!canOfferHelp || (swapRequestCount > 10 || swapActiveCount > 3) || (otherSwapRequestCount > 10 || otherSwapActiveCount > 3))" @onclick="() => OpenModal(student.student, false)">Предложи помощ</button>
                            }
                            else if (isAlreadyRequestedByMe && !isAlreadyRequestedByOther && !isAlreadySwapped)
                            {
                                <p>Очаква се приемане на заявката ти</p>
                                <button class="btn-secondary-warn" @onclick="() => CancelSwapRequest(swap)">Отмени заявката ми</button>
                            }
                            else if (!isAlreadyRequestedByMe && isAlreadyRequestedByOther && !isAlreadySwapped)
                            {
                                <p>Очаква да приемеш заявката</p>
                                <button class="btn-primary" @onclick="() => ConfirmSwaps(swap)">Приеми заявката</button>
                                <button class="btn-secondary-warn" @onclick="() => RejectSwaps(swap)">Отхвърли заявката</button>
                            }
                            else if (!isAlreadyRequestedByMe && !isAlreadyRequestedByOther && isAlreadySwapped)
                            {
                                <button class="btn btn-primary" @onclick="() => GoToSwapDetails(swap)">Виж свапа</button>
                            }
                            <button class="btn-secondary flex-fill" @onclick="() => ViewProfile(student.student)">Виж профила</button>
                        }
                        else
                        {
                            <button class="btn-secondary" @onclick="() => ViewProfile(student.student)">Виж профила</button>
                        }
                    </div>
                </div>
            }
        </div>
    }
}

<ModalRequestSwap IsOpen="@modalOpen"
                  student="@modalTargetStudent"
                  otherStudent="@currentStudent"
                  isRequiringHelp="@modalIsHelping"
                  OnClose="SendRequestForSwapAndCloseModal" />



@code {
    private Student? currentStudent;

    private HashSet<int> allGrades = new();
    private HashSet<SubjectEnum> allSubjects = new();
    private List<Student> allStudents = new();

    private HashSet<int> selectedGrades = new();
    private HashSet<SubjectEnum> selectedCanHelpWith = new();
    private HashSet<SubjectEnum> selectedNeedsHelpWith = new();

    private List<Student> filteredStudents = new();
    private List<(Student student, double compatibility, HashSet<SubjectEnum> commonCan, HashSet<SubjectEnum> commonNeeds)> filteredStudentsCompatib = new();

    private bool modalOpen = false;
    private Student modalTargetStudent;
    private bool modalIsHelping;

    protected override void OnInitialized()
    {
        currentStudent = AppState.CurrentUser;

        if (currentStudent != null)
        {
            allStudents = StudentManager.GetAllStudents().Where(s => s.Id != currentStudent.Id).GroupBy(s => s.Id).Select(g => g.First()).ToList();


            allSubjects = Enum.GetValues(typeof(SubjectEnum)).Cast<SubjectEnum>().Where(s => s != SubjectEnum.NotSpecified).ToHashSet();
            allGrades = Enumerable.Range(4, 9).ToHashSet();

            AutoFilter();
            ApplyFilter();
        }
    }

    private void ApplyFilter()
    {
        filteredStudents = allStudents.Where(s =>
            ((selectedCanHelpWith.Count == 0 || s.CanHelpWith.Overlaps(selectedCanHelpWith)) ||
            (selectedNeedsHelpWith.Count == 0 || s.NeedsHelpWith.Overlaps(selectedNeedsHelpWith))) &&
            (selectedGrades.Count == 0 || selectedGrades.Contains(s.Grade))).ToList();

        filteredStudentsCompatib.Clear();
        foreach (var student in filteredStudents)
        {
            var compatibility = CalculateCompatibility(student, out HashSet<SubjectEnum> commonCan, out HashSet<SubjectEnum> commonNeeds);
            filteredStudentsCompatib.Add((student, compatibility, commonCan, commonNeeds));
        }
        filteredStudentsCompatib = filteredStudentsCompatib.OrderByDescending(s => s.compatibility).ToList();
    }

    private void AutoFilter()
    {
        selectedCanHelpWith = currentStudent.NeedsHelpWith.ToHashSet();
        selectedNeedsHelpWith = currentStudent.CanHelpWith.ToHashSet();
        selectedGrades.Clear();
        selectedGrades.Add(currentStudent.Grade);
        ApplyFilter();
    }

    private void ResetFilters()
    {
        selectedGrades.Clear();
        selectedCanHelpWith.Clear();
        selectedNeedsHelpWith.Clear();

        ApplyFilter();
    }

    private void ToggleGrade(int grade, bool isChecked)
    {
        if (isChecked) selectedGrades.Add(grade);
        else selectedGrades.Remove(grade);
        ApplyFilter();
    }

    private void ToggleSubject(SubjectEnum subject, bool isChecked, HashSet<SubjectEnum> targetList)
    {
        if (isChecked) targetList.Add(subject);
        else targetList.Remove(subject);
        ApplyFilter();
    }

    private double CalculateCompatibility(Student student, out HashSet<SubjectEnum> commonCan, out HashSet<SubjectEnum> commonNeeds)
    {
        commonCan = student.CanHelpWith?.Where(s => s != SubjectEnum.NotSpecified).Intersect(selectedCanHelpWith).ToHashSet();
        commonNeeds = student.NeedsHelpWith?.Where(s => s != SubjectEnum.NotSpecified).Intersect(selectedNeedsHelpWith).ToHashSet();

        if (selectedCanHelpWith.Count == 0 && selectedNeedsHelpWith.Count == 0)
            return 0 + ((student.HelpGivenCount == 0) ? 0 : (student.HelpRatings.Sum() / student.HelpGivenCount));

        else if (selectedCanHelpWith.Count == 0 && selectedNeedsHelpWith.Count > 0)
            return ((double)commonNeeds.Count / selectedNeedsHelpWith.Count) * 100 + ((student.HelpGivenCount == 0) ? 0 : (student.HelpRatings.Sum() / student.HelpGivenCount));

        else if (selectedCanHelpWith.Count > 0 && selectedNeedsHelpWith.Count == 0)
            return ((double)commonCan.Count / selectedCanHelpWith.Count) * 100 + ((student.HelpGivenCount == 0) ? 0 : (student.HelpRatings.Sum() / student.HelpGivenCount));

        else
            return (((double)commonCan.Count / selectedCanHelpWith.Count) + ((double)commonNeeds.Count / selectedNeedsHelpWith.Count)) / 2 * 100 + ((student.HelpGivenCount == 0) ? 0 : (student.HelpRatings.Sum() / student.HelpGivenCount));
    }

    private void RequestHelp(Student student1, Student student2, SubjectEnum subject)
    {
        SwapModel newSwap = SwapManager.RequestHelp(student1, student2, subject, currentStudent);
    }
    private void OfferHelp(Student student1, Student student2, SubjectEnum subject)
    {
        SwapModel newSwap = SwapManager.OfferHelp(student1, student2, subject, currentStudent);
    }
    private void ConfirmSwaps(SwapModel swap)
    {
        SwapManager.ConfirmSwap(swap);
    }
    private void RejectSwaps(SwapModel swap)
    {
        SwapManager.RejectSwap(swap);
    }
    private void CancelSwapRequest(SwapModel swap)
    {
        SwapManager.CancelMyRequest(swap);
    }

    private void ViewProfile(Student student)
    {
        Navigation.NavigateTo($"/other-profile/{student.Id}");
    }


    private void OpenModal(Student target, bool isHelping)
    {
        modalTargetStudent = target;
        modalIsHelping = isHelping;
        modalOpen = true;
    }
    private void SendRequestForSwapAndCloseModal(SubjectEnum? selectedSubject)
    {
        modalOpen = false;

        if (selectedSubject.HasValue && modalTargetStudent != null && currentStudent != null)
        {
            SwapModel? newSwap;
            if 
                (modalIsHelping) newSwap = SwapManager.OfferHelp(modalTargetStudent, currentStudent, selectedSubject.Value, currentStudent);
            else 
                newSwap = SwapManager.RequestHelp(currentStudent, modalTargetStudent, selectedSubject.Value, currentStudent);
        }

        modalTargetStudent = null;

        InvokeAsync(StateHasChanged);
    }

    private void GoToSwapDetails(SwapModel swap)
    {
        Navigation.NavigateTo($"/chat/{swap.Id}");
    }


    private static bool ValueToBool(object? value)
    {
        if (value is bool b) return b;
        var s = value?.ToString();
        if (string.IsNullOrEmpty(s)) return false;
        return s.Equals("true", StringComparison.OrdinalIgnoreCase)
            || s.Equals("on", StringComparison.OrdinalIgnoreCase)
            || s.Equals("1");
    }
}