@page "/my-profile"
@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager Navigation
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthStateProvider
@inject StudentManager StudentManager
@inject AvatarManager AvatarManager
@inject SubjectsManager SubjectsManager
@inject SwapManager SwapManager
@inject RateHelpManager RateHelpManager
@rendermode InteractiveServer

<div class="main-page">

    @if (student == null)
    {
        <p>Моля, влезте в профила си</p>
    }
    else if (student is not null)
    {
        @if (!isEditing)
        {
            allSwaps = SwapManager.FindSwapsByStudentId(student.Id);
            averageRating = (student.HelpGivenCount == 0) ? 0 : starRatings.Sum() / student.HelpGivenCount;
            <div class="profile-all-containers">
                <div class="profile-main-info-container">
                    <img src="@AvatarManager.GetAvatarUrl(student.AvatarName)" alt="Avatar" class="my-profile-avatar" />
                    <div class="profile-username-grade-container">
                        <p class="text-username">@student.FirstName @student.SecName</p>
                        <p class="text-grade">@student.Grade клас</p>
                    </div>
                </div>

                <div class="profile-sections">
                    <div class="profile-container-stats">
                        <div class="stat-all">
                            <p class="stat-value">@allSwaps.Where(s => s.Status == SwapStatus.Confirmed || s.Status == SwapStatus.PendingCompleted || s.Status == SwapStatus.CompletedNotRated).Count()</p>
                            <p class="stat-label">Активни свапове</p>
                        </div>
                        <div class="stat-all">
                            <p class="stat-value">@allSwaps.Count()</p>
                            <p class="stat-label">Общо свапове</p>
                        </div>
                        <div class="stat-all">
                            <p class="stat-value">@Math.Round(averageRating, 1)</p>
                            <p class="stat-label">Рейтинг</p>
                        </div>
                        <div class="stat-all">
                            <p class="stat-value">@student.Coins</p>
                            <p class="stat-label">Монети</p>
                        </div>
                    </div>

                    <div class="profile-container-persinfo">
                        <div>
                            <p class="profile-text-help-with">Мога да помогна по:</p>
                            <div class="subjects-only-container mt-lg-2">
                                @foreach (var subj in student.CanHelpWith.Select(s => s.GetDisplayName()))
                                {
                                    <span class="badge badge-match1">@subj</span>
                                }
                            </div>
                        </div>
                        <div>
                            <p class="profile-text-help-with">Търся помощ по:</p>
                            <div class="subjects-only-container mt-lg-2">
                                @foreach (var subj in student.NeedsHelpWith.Select(s => s.GetDisplayName()))
                                {
                                    <span class="badge badge-match1">@subj</span>
                                }
                            </div>
                        </div>

                        <p class="profile-text-help-with">Контакти</p>
                        <p>Имейл:  @student.Email</p>

                        <button class="btn-secondary" @onclick="StartEditing">Редактирай</button>
                    </div>
                    <form method="post" action="/account/logout">
                        <input type="hidden" name="returnUrl" value="/" />
                        <button type="submit" class="btn-danger">
                            Изход
                        </button>
                    </form>
                </div>


                <div class="profile-reviews-container">
                    <p class="profile-maintext">Отзиви за мен</p>
                    <p class="profile-sectext">от ученици, на когото съм помогнал(а)</p>

                    @if (reviews.Count == 0)
                    {
                        <p class="no-reviews-text">Все още нямаш отзиви.
                            <span style="text-decoration-line: underline; text-decoration-thickness: 1px;" @onclick="@(() => Navigation.NavigateTo("/students-filter"))">
                                Натисни тук, за да намериш ученици за взаимопомощ.
                            </span>
                        </p>
                    }
                    else
                    {
                        @foreach (var r in reviews)
                        {
                            var sender = StudentManager.FindStudent(s => s.Id == r.SenderStudentId);
                            var swap = SwapManager.FindSwapByStudentsId(student.Id, sender.Id);

                            <div class="review-card">
                                <img src="@AvatarManager.GetAvatarUrl(sender.AvatarName)" class="review-avatar" />

                                <div class="review-content">
                                    <div class="review-header">
                                        <span class="review-name" @onclick="() => GoToProfilePage(sender.Id)">@sender.FirstName</span>
                                        <span class="review-subject">@swap.SubjectForHelp.GetDisplayName()</span>
                                    </div>

                                    <div class="review-stars">
                                        @for (int i = 0; i < r.Rating; i++)
                                        {
                                            <span>&#9733;</span>
                                        }
                                    </div>

                                    <p class="review-comment">“@r.Comment”</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
        else
        {
            <EditForm Model="@student" OnValidSubmit="SaveChanges">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div>
                    <label>Аватар:</label>
                    <InputFile OnChange="(e) => SelectFile(e.File)" accept=".jpg,.jpeg,.png" />
                    <button type="button" class="btn btn-danger" @onclick="() => AvatarManager.DeleteAvatar(student)">Изтрий аватара</button>
                </div>

                <div class="mb-3">
                    <label>Име:</label>
                    <InputText class="form-control" @bind-Value="student.FirstName" />
                </div>

                <div class="mb-3">
                    <label>Фамилия:</label>
                    <InputText class="form-control" @bind-Value="student.SecName" />
                </div>

                <div class="mb-3">
                    <label>Клас:</label>
                    <InputNumber class="form-control" @bind-Value="student.Grade" />
                </div>

                <div class="mb-3">
                    <label>Имейл:</label>
                    <InputText class="form-control" @bind-Value="student.Email" />
                </div>


                <div class="edit-section">
                    <div class="edit-subject-container">
                        <p class="profile-text-help-with">Мога да помогна по:</p>
                        <div class="checkbox-group2">
                            @foreach (var subj in allSubjects)
                            {
                                <label class="checkbox-item">
                                    <input type="checkbox"
                                           checked="@student.CanHelpWith.Contains(subj)"
                                           @onchange="e => ToggleCanHelpSubject(subj, e.Value is true)"
                                           class="hidden-checkbox" />
                                    <span class="badge @(student.CanHelpWith.Contains(subj) ? "badge-match1" : "badge-nonmatch")">
                                        @subj.GetDisplayName()
                                    </span>
                                </label>
                            }
                        </div>
                        <p class="profile-text-help-with">Търся помощ по:</p>
                        <div class="checkbox-group2">
                            @foreach (var subj in allSubjects)
                            {
                                <label class="checkbox-item">
                                    <input type="checkbox"
                                           checked="@student.NeedsHelpWith.Contains(subj)"
                                           @onchange="e => ToggleNeedsHelpSubject(subj, e.Value is true)"
                                           class="hidden-checkbox" />
                                    <span class="badge @(student.NeedsHelpWith.Contains(subj) ? "badge-match1" : "badge-nonmatch")">
                                        @subj.GetDisplayName()
                                    </span>
                                </label>
                            }
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-success" @onclick="GoToChangePassword">Промени паролата</button>

                <button type="button" class="btn btn-success" @onclick="CancelEdit">Отказ</button>
                <button type="submit" class="btn btn-success">Запазване на промените</button>
            </EditForm>
        }

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger mt-3">@errorMessage</div>
        }

        @if (successMessageShown)
        {
            <div class="alert alert-success mt-3">Промените са запазени!</div>
        }
    }
</div>

@code {
    private Student? student;
    private Student? studentBackup;
    private List<SubjectEnum> allSubjects = new();
    private List<Swap> allSwaps = new();
    private List<int> starRatings = new();
    private double averageRating = 0.0;
    private bool successMessageShown = false;

    private List<Review> reviews = new();

    private string errorMessage = string.Empty;
    private bool isEditing = false;

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = state.User;

        if (!user.Identity.IsAuthenticated)
        {
            student = null;
            return;
        }

        var username = user.Identity.Name;

        student = StudentManager.FindStudent(s => s.Username == username);

        if (student == null)
        {
            errorMessage = "Профилът не е намерен.";
            return;
        }

        isEditing = false;

        allSubjects = Enum.GetValues(typeof(SubjectEnum)).Cast<SubjectEnum>().Where(s => s != SubjectEnum.NotSpecified).ToList();

        starRatings = RateHelpManager.LoadReviewsForStudentFromDb(student.Id).Select(r => r.Rating).ToList();

        reviews = RateHelpManager.LoadReviewsForStudentFromDb(student.Id);
    }

    private async Task SelectFile(IBrowserFile file)
    {
        if (file != null)
        {
            await AvatarManager.UploadAvatar(file, student);
            StateHasChanged();
        }
    }

    private void StartEditing()
    {
        studentBackup = new Student
        {
            Id = student.Id,
            Username = student.Username,
            FirstName = student.FirstName,
            SecName = student.SecName,
            Grade = student.Grade,
            Email = student.Email,
            Password = student.Password,
            AvatarName = student.AvatarName,
            CanHelpWith = new HashSet<SubjectEnum>(student.CanHelpWith),
            NeedsHelpWith = new HashSet<SubjectEnum>(student.NeedsHelpWith)
        };

        isEditing = true;
        successMessageShown = false;
    }

    private void ToggleCanHelpSubject(SubjectEnum subject, bool isChecked)
    {
        if (isChecked)
            student.CanHelpWith.Add(subject);
        else
            student.CanHelpWith.Remove(subject);
    }

    private void ToggleNeedsHelpSubject(SubjectEnum subject, bool isChecked)
    {
        if (isChecked)
            student.NeedsHelpWith.Add(subject);
        else
            student.NeedsHelpWith.Remove(subject);

    }

    private void GoToProfilePage(Guid senderId)
    {
        Navigation.NavigateTo($"/other-profile/{senderId}");
    }

    private void GoToChangePassword()
    {
        Navigation.NavigateTo("/change-password");
    }

    private void SaveChanges()
    {
        if (student is not null)
        {
            try
            {
                StudentManager.UpdateStudent(student);
                SubjectsManager.UpdateStudentSubjects(student);
                isEditing = false;
                successMessageShown = true;
            }
            catch (Exception ex)
            {
                errorMessage = ex.ToString();
            }
        }
    }
    private void CancelEdit()
    {
        if (studentBackup != null)
        {
            student.FirstName = studentBackup.FirstName;
            student.SecName = studentBackup.SecName;
            student.Grade = studentBackup.Grade;
            student.Email = studentBackup.Email;
            student.AvatarName = studentBackup.AvatarName;
            student.CanHelpWith = new HashSet<SubjectEnum>(studentBackup.CanHelpWith);
            student.NeedsHelpWith = new HashSet<SubjectEnum>(studentBackup.NeedsHelpWith);
        }

        isEditing = false;
        successMessageShown = false;
    }
}