@page "/other-profile/{Id:guid}" // страница за преглед на профила на друг ученик
@inject AppState AppState
@inject NavigationManager NavigationManager
@inject StudentManager StudentManager
@inject SwapManager SwapManager
@using SwapModel = BlazorApp6.Models.Swap

<h3>OtherProfile</h3>

@if (currentStudent == null)
{
    <p>Моля, влезте в профила си</p>
}
else if (string.IsNullOrEmpty(errorMessage) && otherStudent != null)
{
    <p><strong>Име:</strong> @otherStudent.FirstName @otherStudent.SecName</p>
    @* <p><strong>Възраст:</strong> @otherStudent.Age</p> *@ // нз дали да се показва възрастта
    <p><strong>Клас:</strong> @otherStudent.Grade</p>

    @if (currentStatus == Status.Matched)
    {
        <p><strong>Имейл:</strong> @otherStudent.Email</p>
    }

    @if (otherStudent.CanHelpWith?.Any() == true)
    {
        <p><strong>Може да помогне с:</strong> @string.Join(", ", otherStudent.CanHelpWith.Select(s => s.GetDisplayName()))</p>
    }

    @if (otherStudent.NeedsHelpWith?.Any() == true)
    {
        <p><strong>Търси помощ по:</strong> @string.Join(", ", otherStudent.NeedsHelpWith.Select(s => s.GetDisplayName()))</p>
    }

    @if (currentStatus == Status.NotRequested)
    {
        @* <button class="btn btn-primary" @onclick="() => OfferHelp(otherStudent, currentStudent)">Предложи помощ</button>
        <button class="btn btn-primary" @onclick="() => RequestHelp(currentStudent, otherStudent)">Помоли за помощ</button> *@
    }
    else if (currentStatus == Status.Requested)
    {
        <button class="btn btn-outline-secondary" @onclick="() => CancelSwapRequest(swap)">Отмени заявката ми</button>
    }
    else if (currentStatus == Status.Matched)
    {
        <button class="btn btn-outline-danger" @onclick="() => GoToChat(otherStudent)">Изпрати съобщение</button>
    }
}
else
{
    <div class="alert alert-danger mt-3">@errorMessage</div>
}

@code {
    [Parameter]
    public Guid Id { get; set; }
    private Student? otherStudent;

    private Student? currentStudent;

    private enum Status
    {
        NotRequested,
        Requested,
        Matched
    }
    private Status currentStatus = Status.NotRequested;
    private SwapModel? swap;

    private string errorMessage = string.Empty;

    protected override void OnParametersSet()
    {
        errorMessage = string.Empty;

        currentStudent = AppState.CurrentUser;

        if (currentStudent == null) errorMessage = "Моля, влезте в профила си.";

        if (Id == Guid.Empty)
        {
            errorMessage = "Невалиден id.";
            return;
        }

        try
        {
            otherStudent = StudentManager.FindStudent(s => s.Id == Id);
            if (otherStudent == null) errorMessage = "Ученикът не беше намерен.";
        }
        catch (ApplicationException ex)
        {
            errorMessage = ex.Message;
        }

        List<SwapModel> allSwaps = SwapManager.GetAllSwaps();
        if (allSwaps.Any(m => ((m.Student1Id == currentStudent.Id && m.Student2Id == otherStudent.Id) || (m.Student1Id == otherStudent.Id && m.Student2Id == currentStudent.Id)) && m.Status == SwapStatus.Pending))
        {
            currentStatus = Status.Requested;
        }
        else if (allSwaps.Any(m => ((m.Student1Id == currentStudent.Id && m.Student2Id == otherStudent.Id) || (m.Student1Id == otherStudent.Id && m.Student2Id == currentStudent.Id)) && m.Status == SwapStatus.Confirmed))
        {
            currentStatus = Status.Matched;
        }
        else currentStatus = Status.NotRequested;
    }

    // private void OfferHelp(Student requestingSt, Student helpingSt)
    // {
    //     swap = SwapManager.OfferHelp(requestingSt, helpingSt);
    //     if (swap == null)
    //     {
    //         currentStatus = Status.Requested;
    //     }
    //     else
    //     {
    //         currentStatus = Status.NotRequested;
    //     }
    // }

    // private void RequestHelp(Student requestingSt, Student helpingSt)
    // {
    //     swap = SwapManager.RequestHelp(requestingSt, helpingSt);
    //     if (swap == null)
    //     {
    //         currentStatus = Status.Requested;
    //     }
    //     else
    //     {
    //         currentStatus = Status.NotRequested;
    //     }
    // }

    private void CancelSwapRequest(SwapModel swap)
    {
        SwapManager.CancelMyRequest(swap);
    }

    private void GoToChat(Student studentToChatWith)
    {
        NavigationManager.NavigateTo($"/chat/{studentToChatWith.Id}");
    }
}