@page "/other-profile/{Id:guid}" // страница за преглед на профила на друг ученик
@inject AppState AppState
@inject NavigationManager NavigationManager
@inject StudentManager StudentManager
@inject SwapManager SwapManager
@using SwapModel = BlazorApp6.Models.Swap

<h3>OtherProfile</h3>

@if (currentStudent == null)
{
    <p>Моля, влезте в профила си</p>
}
else if (string.IsNullOrEmpty(errorMessage) && otherStudent != null)
{
    <p><strong>Име:</strong> @otherStudent.FirstName @otherStudent.SecName</p>
    @* <p><strong>Възраст:</strong> @otherStudent.Age</p> *@ // нз дали да се показва възрастта
    <p><strong>Клас:</strong> @otherStudent.Grade</p>

    @if (currentStatus == Status.Swapped)
    {
        <p><strong>Имейл:</strong> @otherStudent.Email</p>
    }

    @if (otherStudent.CanHelpWith?.Any() == true)
    {
        <p><strong>Може да помогне с:</strong> @string.Join(", ", otherStudent.CanHelpWith.Select(s => s.GetDisplayName()))</p>
    }

    @if (otherStudent.NeedsHelpWith?.Any() == true)
    {
        <p><strong>Търси помощ по:</strong> @string.Join(", ", otherStudent.NeedsHelpWith.Select(s => s.GetDisplayName()))</p>
    }

    @if (currentStatus == Status.NotRequested)
    {
        bool canRequestHelp = otherStudent.CanHelpWith?.Where(s => s != SubjectEnum.NotSpecified).Intersect(currentStudent.NeedsHelpWith).ToHashSet().Count > 0;
        bool canOfferHelp = otherStudent.NeedsHelpWith?.Where(s => s != SubjectEnum.NotSpecified).Intersect(currentStudent.CanHelpWith).ToHashSet().Count > 0;
        <button class="btn btn-primary" disabled="@(!canRequestHelp)" @onclick="() => OpenModal(otherStudent, false)"> Помоли за помощ</button>
        <button class="btn btn-primary" disabled="@(!canOfferHelp)" @onclick="() => OpenModal(otherStudent, true)">Предложи помощ</button>
    }
    else if (currentStatus == Status.Requested)
    {
        <button class="btn btn-outline-secondary" @onclick="() => CancelSwapRequest(swap)">Отмени заявката ми</button>
    }
    else if (currentStatus == Status.Swapped)
    {
        <button class="btn btn-outline-danger" @onclick="() => GoToSwapDetails(otherStudent)">Към свапа</button>
    }
}
else
{
    <div class="alert alert-danger mt-3">@errorMessage</div>
}

<ModalRequestSwap IsOpen="@modalOpen"
                  student="@modalTargetStudent"
                  otherStudent="@currentStudent"
                  isRequiringHelp="@modalIsHelping"
                  OnClose="SendRequestForSwapAndCloseModal" />

@code {
    [Parameter] public Guid Id { get; set; }
    private Student? otherStudent;

    private Student? currentStudent;

    private bool modalOpen = false;
    private Student? modalTargetStudent;
    private bool modalIsHelping;

    private enum Status
    {
        NotRequested,
        Requested,
        Swapped
    }
    private Status currentStatus = Status.NotRequested;
    private SwapModel? swap;

    private string errorMessage = string.Empty;

    protected override void OnParametersSet()
    {
        errorMessage = string.Empty;

        currentStudent = AppState.CurrentUser;

        if (currentStudent == null) errorMessage = "Моля, влезте в профила си.";

        if (Id == Guid.Empty)
        {
            errorMessage = "Невалиден id.";
            return;
        }

        try
        {
            otherStudent = StudentManager.FindStudent(s => s.Id == Id);
            if (otherStudent == null) errorMessage = "Ученикът не беше намерен.";
        }
        catch (ApplicationException ex)
        {
            errorMessage = ex.Message;
        }

        List<SwapModel> allSwaps = SwapManager.GetAllSwaps();
        if (allSwaps.Any(m => ((m.Student1Id == currentStudent.Id && m.Student2Id == otherStudent.Id) || (m.Student1Id == otherStudent.Id && m.Student2Id == currentStudent.Id)) && m.Status == SwapStatus.Pending))
        {
            currentStatus = Status.Requested;
        }
        else if (allSwaps.Any(m => ((m.Student1Id == currentStudent.Id && m.Student2Id == otherStudent.Id) || (m.Student1Id == otherStudent.Id && m.Student2Id == currentStudent.Id)) && m.Status == SwapStatus.Confirmed))
        {
            currentStatus = Status.Swapped;
        }
        else currentStatus = Status.NotRequested;
    }


    private void CancelSwapRequest(SwapModel swap)
    {
        SwapManager.CancelMyRequest(swap);
    }

    private void OpenModal(Student target, bool isHelping)
    {
        modalTargetStudent = target;
        modalIsHelping = isHelping;
        modalOpen = true;
    }
    private void SendRequestForSwapAndCloseModal(SubjectEnum? selectedSubject)
    {
        modalOpen = false;

        if (selectedSubject.HasValue && modalTargetStudent != null && currentStudent != null)
        {
            SubjectEnum subject = selectedSubject.Value;

            SwapModel? newSwap;
            if (modalIsHelping)
            {
                newSwap = SwapManager.OfferHelp(modalTargetStudent, currentStudent, subject);
            }
            else
            {
                newSwap = SwapManager.RequestHelp(currentStudent, modalTargetStudent, subject);
            }
        }

        modalTargetStudent = null;

        InvokeAsync(StateHasChanged);
    }

    private void GoToSwapDetails(Student studentYouSwappedWith)
    {
        NavigationManager.NavigateTo($"/SwapDetails/{otherStudent.Id}");
    }
}