@page "/my-swaps" // страница за преглед на мои заявки, заявки към мен и текущи партньори
@inject NavigationManager Navigation
@inject AppState AppState
@inject StudentManager StudentManager
@inject AvatarManager AvatarManager
@inject SwapManager SwapManager
@rendermode InteractiveServer
@using SwapModel = BlazorApp6.Models.Swap


<div class="myswaps-page main-content">
    @if (currentStudent == null)
    {
        <div class="myswaps-empty">
            <p>Моля, влезте в профила си</p>
        </div>
    }
    else
    {
        <div class="myswaps-container">

            <!-- Header / Tabs -->
            <div class="myswaps-header px-4">
                <div class="myswaps-toprow top-row">
                    <div class="myswaps-title">
                        <h2 class="filter-title">Свапове и заявки</h2>
                    </div>

                    <div class="myswaps-tabs-wrapper">
                        <div class="myswaps-tabs-wrapper">
                            <div class="myswaps-tabs" role="tablist" aria-label="Swaps tabs">
                                <button class="@GetTabClass("pairs") myswaps-tab" @onclick='@(() => SelectTab("pairs"))' role="tab">Текущи свапове</button>
                                <button class="@GetTabClass("incoming") myswaps-tab" @onclick='@(() => SelectTab("incoming"))' role="tab">Заявки към мен</button>
                                <button class="@GetTabClass("outgoing") myswaps-tab" @onclick='@(() => SelectTab("outgoing"))' role="tab">Моите заявки</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab-content mb-3 myswaps-content">

                <!-- Текущите ми свапове -->
                @if (selectedTab == "pairs")
                {
                    <section class="myswaps-section" aria-labelledby="pairs-heading">
                        @if (pairs.Count == 0)
                        {
                            <div class="empty-state">Нямате текущи свапове.</div>
                        }
                        else
                        {
                            <p class="text-found-students">Активните ви свапове: <strong>@pairs.Count</strong></p>

                            <div class="students-container">
                                @foreach (SwapModel swap in pairs)
                                {
                                    var student = StudentManager.FindStudent(s => s.Id == ((swap.Student1Id == currentStudent.Id) ? swap.Student2Id : swap.Student1Id));
                                    bool currentStHelps = swap.Student2Id == currentStudent.Id;
                                    @if (student == null) continue;

                                    <div class="student-card1">
                                        @* Профилна, име и дата на начало *@
                                        <div class="student-header">
                                            <img src="@AvatarManager.GetAvatarUrl(student.AvatarName)" alt="Avatar" class="filter-avatar" />
                                            <div class="student-info">
                                                <h5 class="student-name">@student.FirstName @student.SecName</h5>
                                                <p class="student-grade">Активен от: @(swap.DateConfirmed?.ToString("dd.MM.yy HH:mm"))</p>
                                            </div>
                                        </div>

                                        @* Предмет *@
                                        <div class="myswaps-card-body">
                                            <div class="d-flex align-items-center flex-nowrap">
                                                @if (currentStHelps)
                                                {
                                                    <span class="text small fw-semibold me-2">Помагаш по:</span>
                                                }
                                                else
                                                {
                                                    <span class="text small fw-semibold me-2">Помага ти по:</span>
                                                }
                                                <span class="badge badge-match1">@swap.SubjectForHelp.GetDisplayName()</span>
                                            </div>

                                            @* Бутони *@
                                            <div class="myswaps-actions">
                                                <button class="myswaps-btn-primary" @onclick="() => GoToSwap(swap.Id)">Отвори свапа</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </section>
                }
                <!-- Заявки КЪМ мен -->
                @if (selectedTab == "incoming")
                {
                    <section class="myswaps-section" aria-labelledby="incoming-heading">

                        @if (incomingSwaps.Count == 0)
                        {
                            <div class="empty-state">Все още никой не ти е предложил кооперация.</div>
                        }
                        else
                        {
                            <p class="text-found-students">
                                @if (incomingSwaps.Count == 1)
                                {
                                    <text>1 ученик ти предложи помощ:</text>
                                }
                                else
                                {
                                    <text>@incomingSwaps.Count ученика ти преложиха помощ.</text>
                                }
                            </p>

                            <div class="students-container">
                                @foreach (SwapModel swap in incomingSwaps)
                                {
                                    var student = StudentManager.FindStudent(s => s.Id == swap.RequesterId);

                                    int swapRequestCount = SwapManager.FindSwapsByStudentId(currentStudent.Id).Where(s => s.Status == SwapStatus.Pending).Count();
                                    int swapActiveCount = SwapManager.FindSwapsByStudentId(currentStudent.Id).Where(s => s.Status == SwapStatus.Confirmed).Count();

                                    int otherSwapRequestCount = SwapManager.FindSwapsByStudentId(student.Id).Where(s => s.Status == SwapStatus.Pending).Count();
                                    int otherSwapActiveCount = SwapManager.FindSwapsByStudentId(student.Id).Where(s => s.Status == SwapStatus.Confirmed).Count();

                                    if (student == null) continue;

                                    <div class="student-card1">
                                        @* Профилна, име и дата на предлагане *@
                                        <div class="student-header">
                                            <img src="@AvatarManager.GetAvatarUrl(student.AvatarName)" alt="Avatar" class="filter-avatar" />
                                            <div class="student-info">
                                                <h5 class="student-name">@student.FirstName @student.SecName</h5>
                                                <p class="student-grade">Изпрати ти заявка на: @(swap.DateRequested.ToString("dd.MM.yy HH:mm"))</p>
                                            </div>
                                        </div>

                                        @* Предмет *@
                                        <div class="myswaps-card-body">
                                            <div class="d-flex align-items-center flex-nowrap">
                                                @if (swap.Student1Id == student.Id)
                                                {
                                                    <span class="text small fw-semibold me-2">Иска да му помогнеш по <strong>@swap.SubjectForHelp.GetDisplayName().ToLower()</strong></span>
                                                }
                                                else
                                                {
                                                    <span class="text small fw-semibold me-2">Предлага ти помощ по <strong>@swap.SubjectForHelp.GetDisplayName().ToLower()</strong></span>
                                                }
                                                @* <p class="badge badge-match1">@swap.SubjectForHelp.GetDisplayName()</p> *@
                                            </div>
                                            @* Бутони *@
                                            <div class="myswaps-actions">
                                                <button class="btn-success" disabled="@((swapRequestCount > 10 || swapActiveCount > 3) || (otherSwapRequestCount > 10 || otherSwapActiveCount > 3))" @onclick ="() => ConfirmSwap(swap)"><i class="bi bi-check fs-6"></i> Приеми</button>
                                                <button class="btn-danger" @onclick="() => RejectSwap(swap)"><i class="bi bi-x fs-6"></i> Отхвърли</button>
                                                <button class="btn-secondary" @onclick="() => ViewProfile(student)">Виж профила</button>
                                            </div>
                                        </div>
                                     </div>
                                }
                            </div>
                        }
                    </section>
                }
                <!-- Заявки ОТ мен -->
                @if (selectedTab == "outgoing")
                {
                <section class="myswaps-section" aria-labelledby="outgoing-heading">

                    @if (outgoingSwaps.Count == 0)
                    {
                        <div class="empty-state">Още на никого не си предложил кооперация.</div>
                    }
                    else
                    {
                        <p class="text-found-students">Намерени ученици: <strong>@outgoingSwaps.Count</strong></p>

                        <div class="students-container">
                            @foreach (SwapModel swap in outgoingSwaps)
                            {
                                var student = StudentManager.FindStudent(s => (s.Id == swap.Student1Id || s.Id == swap.Student2Id) && s.Id != currentStudent.Id);
                                if (student == null) continue;

                                <div class="student-card1">
                                    @* Профилна, име и дата на предлагане *@
                                    <div class="student-header">
                                        <img src="@AvatarManager.GetAvatarUrl(student.AvatarName)" alt="Avatar" class="filter-avatar" />
                                        <div class="student-info">
                                            <h5 class="student-name">@student.FirstName @student.SecName</h5>
                                            <p class="student-grade">Изпратил си заявка на: @(swap.DateRequested.ToString("dd.MM.yy HH:mm"))</p>
                                        </div>
                                    </div>

                                    @* Предмет *@
                                    <div class="myswaps-card-body">
                                        <div class="d-flex align-items-center flex-nowrap">
                                            @if (swap.Student1Id == currentStudent.Id)
                                            {
                                                <span class="text small fw-semibold me-2">Искаш да ти помогне по <strong>@swap.SubjectForHelp.GetDisplayName().ToLower()</strong></span>
                                            }
                                            else
                                            {
                                                <span class="text small fw-semibold me-2">Предлагаш помощ по <strong>@swap.SubjectForHelp.GetDisplayName().ToLower()</strong></span>
                                            }
                                            @* <p class="badge badge-match1">@swap.SubjectForHelp.GetDisplayName()</p> *@
                                        </div>

                                        @* <div class="d-flex align-items-center flex-nowrap">
                                            @foreach (var subj in student.CanHelpWith.Where(s => s != SubjectEnum.NotSpecified))
                                            {
                                                var isMatch = currentStudent.NeedsHelpWith.Contains(subj);
                                                <span class="badge rounded-pill px-3 py-1 me-2 @(isMatch ? "badge-match" : "badge-nonmatch") myswaps-badge">
                                                    @subj.GetDisplayName()
                                                </span>
                                            }
                                        </div>

                                        <p class="text small mb-2 fw-semibold">Търси помощ по:</p>
                                        <div class="match-subjects-scroll myswaps-subjects mb-2">
                                            @foreach (var subj in student.NeedsHelpWith.Where(s => s != SubjectEnum.NotSpecified))
                                            {
                                                var isMatch = currentStudent.CanHelpWith.Contains(subj);
                                                <span class="badge rounded-pill px-3 py-1 me-2 @(isMatch ? "badge-match" : "badge-nonmatch") myswaps-badge">
                                                    @subj.GetDisplayName()
                                                </span>
                                            }
                                        </div> *@
                                        @* Бутони *@
                                        <div class="myswaps-actions">
                                            <button class="btn-warn" @onclick="() => CancelSwapRequest(swap)">Отмяна</button>
                                            <button class="btn-secondary" @onclick="() => ViewProfile(student)">Виж профила</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </section>
                }
            </div>
        </div>
    }
</div>

@code {
    private Student? currentStudent;
    private string selectedTab = "pairs";

    private List<SwapModel> pairs = new();
    private List<SwapModel> incomingSwaps = new();
    private List<SwapModel> outgoingSwaps = new();

    protected override void OnParametersSet()
    {
        currentStudent = AppState.CurrentUser;
        if (currentStudent == null) return;

        LoadData();
    }

    private void LoadData()
    {
        List<SwapModel> swaps = SwapManager.FindSwapsByStudentId(currentStudent.Id);

        pairs = swaps.Where(m => m.Status == SwapStatus.Confirmed || m.Status == SwapStatus.CompletedNotRated || m.Status == SwapStatus.PendingCompleted).ToList();
        incomingSwaps = swaps.Where(m => m.RequesterId != currentStudent.Id && m.Status == SwapStatus.Pending).ToList();
        outgoingSwaps = swaps.Where(m => m.RequesterId == currentStudent.Id && m.Status == SwapStatus.Pending).ToList();
    }

    private void SelectTab(string tab)
    {
        selectedTab = tab;
    }
    private string GetTabClass(string tab)
    {
        return (selectedTab == tab) ? "btn btn-primary me-2" : "btn btn-outline-primary me-2";
    }

    private void ConfirmSwap(SwapModel swap)
    {
        SwapManager.ConfirmSwap(swap);
        LoadData();
    }

    private void RejectSwap(SwapModel swap)
    {
        SwapManager.RejectSwap(swap);
        LoadData();
    }

    private void CancelSwapRequest(SwapModel swap)
    {
        SwapManager.CancelMyRequest(swap);
        LoadData();
    }

    private void CompleteSwap(SwapModel swap)
    {
        SwapManager.CompleteSwap(swap);
        LoadData();
    }

    private void GoToSwap(Guid Id)
    {
        Navigation.NavigateTo($"/chat/{Id}");
    }
    private void ViewProfile(Student student)
    {
        Navigation.NavigateTo($"/other-profile/{student.Id}");
    }
}
