@page "/my-matches" // страница за преглед на мои заявки, заявки към мен и текущи партньори
@inject NavigationManager Navigation
@inject AppState AppState
@inject StudentManager StudentManager
@inject SwapManager SwapManager
@rendermode InteractiveServer

@if (currentStudent == null)
{
    <p>Моля, влезте в профила си</p>
}
else
{
    <div class="tabs">
        <button class="@GetTabClass("pairs")" @onclick='@(() => SelectTab("pairs"))'>Моите свапове</button>
        <button class="@GetTabClass("incoming")" @onclick='@(() => SelectTab("incoming"))'>Заявки към мен</button>
        <button class="@GetTabClass("outgoing")" @onclick='@(() => SelectTab("outgoing"))'>Моите заявки</button>
    </div>

    <div class="tab-content mb-3">
        @* Текущи свапове *@
        @if (selectedTab == "pairs")
        {
            @if (pairs.Count == 0)
            {
                <p>Нямате текущи свапове.</p>
            }
            else
            {
                <p>Текущите ви свапове: @pairs.Count</p>
                <div class="row g-3">
                    @foreach (var swap in pairs)
                    {
                        var student = StudentManager.FindStudent(s => s.Id == ((swap.Student1Id == currentStudent.Id) ? swap.Student2Id : swap.Student1Id));
                        bool currentStHelps = swap.Student1Id == currentStudent.Id;
                        @if (student == null) continue;

                        <div class="col-12 col-md-6">
                            <div class="card h-100 shadow-sm rounded-3 p-3 d-flex flex-column">

                                @* Профилна, име и клас *@
                                <div class="d-flex align-items-center gap-3 mb-3">
                                    <img src="@GetAvatarUrl(student)" alt="Avatar"
                                         class="rounded-circle avatar-lg" />
                                    <div>
                                        <h5 class="fw-semibold mb-1">@student.FirstName @student.SecName</h5>
                                        <p class="text-muted small mb-0">Клас: @student.Grade</p>
                                    </div>
                                </div>
                                <hr />

                                @* Предмет *@
                                <div class="d-flex flex-column flex-grow-1">
                                    @if (currentStHelps)
                                    {
                                        <p class="text small mb-2 fw-semibold">Помагаш по </p>
                                    }
                                    else
                                    {
                                        <p class="text small mb-2 fw-semibold">Помага ти по </p>
                                    }
                                    <span class="badge rounded-pill px-3 py-1 me-2 badge-match">@swap.SubjectForHelp</span>

                                    @* Бутони *@
                                    <div class="mt-auto d-flex gap-2">
                                        @if (swap.Status == SwapStatus.Confirmed)
                                        {
                                            <button class="btn btn-outline-danger flex-fill" @onclick="() => FinishSession(student)">Завърши свапа</button>
                                            <button class="btn btn-secondary flex-fill" @onclick="() => GoToChat(student)">Отвори чата</button>
                                        }
                                        else if (swap.Status == SwapStatus.PendingCompleted)
                                        {
                                            <p>Очаква се потвърждение от другия ученик</p>
                                            <button class="btn btn-secondary flex-fill" @onclick="() => GoToChat(student)">Отвори чата</button>
                                        }
                                        else if (swap.Status == SwapStatus.CompletedNotRated)
                                        {
                                            <p>Свапът е завършен</p>
                                            @* Да добавя някаква логика за Rate student's help (звездички + коментар ддз)*@
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        }
        @* Заявки, които изпратиха на мен *@
        else if (selectedTab == "incoming")
        {
            @if (incomingMatches.Count == 0)
            {
                <p>Все още никой не ти е продложил кооперация.</p>
            }
            else
            {
                @if (incomingMatches.Count == 1)
                {
                    <p>1 ученик ти предложи помощ.</p>
                }
                else
                {
                    <p>@incomingMatches.Count ученика ти преложиха помощ.</p>
                }
                <div class="row g-3">
                    @foreach (var match in incomingMatches)
                    {
                        var student = StudentManager.FindStudent(s => s.Id == match.Student1Id);
                        if (student == null) continue;

                        <div class="col-12 col-md-6">
                            <div class="card h-100 shadow-sm rounded-3 p-3 d-flex flex-column">

                                @* Профилна, име и клас *@
                                <div class="d-flex align-items-center gap-3 mb-3">
                                    <img src="@GetAvatarUrl(student)" alt="Avatar"
                                         class="rounded-circle avatar-lg" />
                                    <div>
                                        <h5 class="fw-semibold mb-1">@student.FirstName @student.SecName</h5>
                                        <p class="text-muted small mb-0">Клас: @student.Grade</p>
                                    </div>
                                </div>
                                <hr />

                                @* Списък с предмети *@
                                <div class="d-flex flex-column flex-grow-1">

                                    <p class="text small mb-2 fw-semibold">Може да помогне с:</p>
                                    <div class="match-subjects-scroll mb-2">
                                        @foreach (var subj in student.CanHelpWith.Where(s => s != SubjectEnum.NotSpecified))
                                        {
                                            var isMatch = currentStudent.CanHelpWith.Contains(subj);
                                            <span class="badge rounded-pill px-3 py-1 me-2 @(isMatch ? "badge-match" : "badge-nonmatch")">
                                                @subj.GetDisplayName()
                                            </span>
                                        }
                                    </div>

                                    <p class="text small mb-2 fw-semibold">Търси помощ по:</p>
                                    <div class="match-subjects-scroll mb-2">
                                        @foreach (var subj in student.NeedsHelpWith.Where(s => s != SubjectEnum.NotSpecified))
                                        {
                                            var isMatch = currentStudent.NeedsHelpWith.Contains(subj);
                                            <span class="badge rounded-pill px-3 py-1 me-2 @(isMatch ? "badge-match" : "badge-nonmatch")">
                                                @subj.GetDisplayName()
                                            </span>
                                        }
                                    </div>

                                    @* Бутини "Матч" и "Виж профила" *@
                                    <div class="mt-auto d-flex gap-2">
                                        <button class="btn btn-primary" @onclick="() => ConfirmSwap(match)">Приеми заявката</button>
                                        <button class="btn btn-danger" @onclick="() => RejectSwap(match)">Откажи заявката</button>
                                        <button class="btn btn-outline-secondary flex-fill" @onclick="() => ViewProfile(student)">Виж профила</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            }
        }

        @* Заявки, които съм изпратил *@
        else if (selectedTab == "outgoing")
        {
            @if (outgoingMatches.Count == 0)
            {
                <p>Още на никого не си предложил кооперация.</p>
            }
            else
            {
                <p>Намерени ученици: @outgoingMatches.Count</p>
                <div class="row g-3">
                    @foreach (var match in outgoingMatches)
                    {
                        var student = StudentManager.FindStudent(s => s.Id == match.Student2Id);
                        if (student == null) continue;

                        <div class="col-12 col-md-6">
                            <div class="card h-100 shadow-sm rounded-3 p-3 d-flex flex-column">

                                @* Профилна, име и клас *@
                                <div class="d-flex align-items-center gap-3 mb-3">
                                    <img src="@GetAvatarUrl(student)" alt="Avatar"
                                         class="rounded-circle avatar-lg" />
                                    <div>
                                        <h5 class="fw-semibold mb-1">@student.FirstName @student.SecName</h5>
                                        <p class="text-muted small mb-0">Клас: @student.Grade</p>
                                    </div>
                                </div>
                                <hr />

                                @* Списък с предмети *@
                                <div class="d-flex flex-column flex-grow-1">

                                    <p class="text small mb-2 fw-semibold">Може да помогне с:</p>
                                    <div class="match-subjects-scroll mb-2">
                                        @foreach (var subj in student.CanHelpWith.Where(s => s != SubjectEnum.NotSpecified))
                                        {
                                            var isMatch = currentStudent.CanHelpWith.Contains(subj);
                                            <span class="badge rounded-pill px-3 py-1 me-2 @(isMatch ? "badge-match" : "badge-nonmatch")">
                                                @subj.GetDisplayName()
                                            </span>
                                        }
                                    </div>

                                    <p class="text small mb-2 fw-semibold">Търси помощ по:</p>
                                    <div class="match-subjects-scroll mb-2">
                                        @foreach (var subj in student.NeedsHelpWith.Where(s => s != SubjectEnum.NotSpecified))
                                        {
                                            var isMatch = currentStudent.NeedsHelpWith.Contains(subj);
                                            <span class="badge rounded-pill px-3 py-1 me-2 @(isMatch ? "badge-match" : "badge-nonmatch")">
                                                @subj.GetDisplayName()
                                            </span>
                                        }
                                    </div>

                                    @* Бутини "Отмени заявката ми" и "Виж профила" *@
                                    <div class="mt-auto d-flex gap-2">
                                        <button class="btn btn-warning" @onclick="() => CancelSwapRequest(match)">Отмени заявката ми</button>
                                        <button class="btn btn-outline-secondary flex-fill" @onclick="() => ViewProfile(student)">Виж профила</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
}

@code {
    private Student? currentStudent;
    private string selectedTab = "pairs";

    private List<Swap> pairs = new List<Swap>();
    private List<Swap> incomingMatches = new List<Swap>();
    private List<Swap> outgoingMatches = new List<Swap>();

    protected override void OnInitialized()
    {
        currentStudent = AppState.CurrentUser;
        if (currentStudent == null) return;

        LoadData();
    }

    private void LoadData()
    {
        List<Swap> allSwaps = SwapManager.GetAllSwaps();

        pairs = allSwaps.Where(m =>
            (m.Student1Id == currentStudent.Id || m.Student2Id == currentStudent.Id)
            && (m.Status == SwapStatus.Confirmed || m.Status == SwapStatus.CompletedNotRated || m.Status == SwapStatus.PendingCompleted)).ToList();

        incomingMatches = allSwaps
            .Where(m => m.Student2Id == currentStudent.Id && m.Status == SwapStatus.Pending).ToList();

        outgoingMatches = allSwaps
            .Where(m => m.Student1Id == currentStudent.Id && m.Status == SwapStatus.Pending).ToList();
    }

    private void SelectTab(string tab)
    {
        selectedTab = tab;
    }
    private string GetTabClass(string tab)
    {
        return (selectedTab == tab) ? "btn btn-primary me-2" : "btn btn-outline-primary me-2";
    }

    private void ConfirmSwap(Swap swap)
    {
        SwapManager.ConfirmSwap(swap);
        LoadData();
    }

    private void RejectSwap(Swap swap)
    {
        SwapManager.RejectSwap(swap);
        LoadData();
    }

    private void CancelSwapRequest(Swap swap)
    {
        SwapManager.CancelMyRequest(swap);
        LoadData();
    }

    private void UnpairStudents(Swap swap)
    {
        SwapManager.CompleteSwap(swap);
        LoadData();
    }


    private void ViewProfile(Student student)
    {
        Navigation.NavigateTo($"/other-profile/{student.Id}");
    }
    private string GetAvatarUrl(Student student)
    {
        // Вернуть URL аватарки, пока заглушка
        return "_content/YourAppNamespace/images/default-avatar.png";
    }
}
