@page "/register"
@rendermode InteractiveServer
@inject StudentManager StudentManager

<h3>Регистрация</h3>

<EditForm Model="@formModel" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Име:</label>
        <InputText class="form-control" @bind-Value="formModel.Name" />
    </div>

    <div class="mb-3">
        <label>Фамилия:</label>
        <InputText class="form-control" @bind-Value="formModel.SecName" />
    </div>

    <div class="mb-3">
        <label>Възраст:</label>
        <InputNumber class="form-control" @bind-Value="formModel.Age" />
    </div>

    <div class="mb-3">
        <label>Клас:</label>
        <InputNumber class="form-control" @bind-Value="formModel.Grade" />
    </div>

    <div class="mb-3">
        <label>Телефон:</label>
        <InputText class="form-control" @bind-Value="formModel.PhoneNumber" />
    </div>

    <div class="mb-3">
        <label>Потребителско име:</label>
        <InputText class="form-control" @bind-Value="formModel.Username" />
    </div>

    <div class="mb-3">
        <label>Парола:</label>
        <InputText class="form-control" @bind-Value="formModel.Password" />
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Регистрирай се</button>
    </div>
</EditForm>

@if (registeredStudent is not null)
{
    <div class="alert alert-success mt-3">
        Добре дошъл, @registeredStudent.FirstName! Възраст: @registeredStudent.Age, Клас: @registeredStudent.Grade.
    </div>
}

@if (alreadyExists)
{
    <div class="alert alert-danger mt-3">
        Ученик с това потребителско име вече съществува.
    </div>
}

@if (!string.IsNullOrEmpty(StudentManager.FileLoadError))
{
    <div class="alert alert-danger mt-3">
        Грешка при зареждането на данните: @StudentManager.FileLoadError
    </div>
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger mt-3">@errorMessage</div>
}

@code {

    private RegisterStudentFormModel formModel = new();
    private Student? registeredStudent;

    private bool alreadyExists = false;
    private string errorMessage = string.Empty;

    private void Submit()
    {
        try
        {
            Student? alreadyExistingStudent = StudentManager.FindStudent(s => s.Username == formModel.Username);
            if (alreadyExistingStudent != null)
            {
                alreadyExists = true;
                registeredStudent = null;
                return;
            }

            registeredStudent = formModel.ToStudent();
            StudentManager.AddStudent(registeredStudent);
            errorMessage = string.Empty;
            alreadyExists = false;
        }
        catch (ApplicationException ex)
        {
            errorMessage = ex.Message;
            registeredStudent = null;
        }
    }
}  